// NOTE: Gera classes width com porcentagem
@include attr-x('w-', 'width', 10, 10, '%');
// NOTE: Gera classes width com tamanho fixo
@include attr-x('w-px-', 'width', 6, 100, 'px');
// NOTE: Gera paddings e margins
@include simpleSpace();

.m-auto {
    margin: auto !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}
