.no-padding-container {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-right {
    padding-right: 0;
}
.no-padding-left {
    padding-left: 0;
}

.hidden {
    display: none;
}

.align-baseline {
    vertical-align: baseline !important;
}

.align-top {
    vertical-align: top !important;
}

.align-middle {
    vertical-align: middle !important;
}

.align-bottom {
    vertical-align: bottom !important;
}
